agent-framework
fastapi
uvicorn
python-dotenv
azure-identity
azure-storage-blob
azure-mgmt-monitor
azure-ai-projects
azure-ai-documentintelligence
pydantic
pymupdf
pillow
pyodbc
chromadb
sentence-transformers
torch
transformers
scikit-learn
pandas
numpy
tqdm